.flex-direction{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction:row;
    background-color:blue;
    /* height:900px; */
    padding:100px;
    /* margin-top:50px ; */
    margin-bottom: 50px;
    border-top: 10px black solid;
    border-bottom: 10px black solid;
    


}